$main-color: #444;
$main-accent: #22333b;
$font-color: #eae0d5; 

.ChatBar {
    margin: 100px 100px;
    border: 3px solid $main-accent;
    background: $main-color;
    color: $font-color;
    font-family: 'Lucida Sans Unicode';

    .tabs {
        display: flex;
        height: 40px;
        border-bottom: 3px solid $main-accent;

        .tab {
            border-right: 3px solid $main-accent;
            flex-basis: 100px;
            text-align: center;
            line-height: 40px;
            cursor: pointer;

            &.selected {
                background: $main-accent;
            }
        }
    }

    .messages {
        height: 300px;
        overflow-y: scroll;
        overflow-x: hidden;
        
        .message {
            padding: 10px;
            border-bottom: 3px solid $main-accent;

            .username {
                margin-right: 10px;
            }
        }
    }

    textarea {
        resize: none;
        width: 100%;
        height: 100px;
    }
}